[TYPECHECK]
generated-members=CryptoData.*,DataProcessor.*,FileAndFoldersProcessor.*,MainProcessor.*,FirebaseManager.*,LoggerConfigurator.*,NotificationSender.*,SentimentAnalyzer.*,TextProcessor.*,TimeProcessor.*
